{extend name="public/container"}

{block name="content"}
<body>
<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 15px;">
    <div class="layui-form-item">
        <label class="layui-form-label">配置名称</label>
        <div class="layui-input-inline">
            <input type="text" name="info" lay-verify="required" placeholder="请输入配置名称" autocomplete="off" value="{$info.info}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">字段变量</label>
        <div class="layui-input-inline">
            <input type="text" name="menu_name" lay-verify="required" placeholder="" autocomplete="off" value="{$info.menu_name}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-inline">
            <input type="text" value="{$info.desc}" name="desc" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">值</label>
        <div class="layui-input-inline">
            <input type="text" value="{$info.value}" name="value" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="hidden" name="id" value="{$info.id}">
        <input type="hidden" name="config_tab_id" value="{$info.config_tab_id}">
        <input type="button" lay-submit lay-filter="layer-submit" id="layer-submit" value="确认">
    </div>
</div>
</body>
{/block}

{block name="script"}
<script>
    layui.config({
        base: '{__LAYUI_PATH}' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function(){
        var $ = layui.$
            ,form = layui.form;
    })
</script>
{/block}