{extend name="public/container"}

{block name="content"}
<body>
<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">配置名称</label>
        <div class="layui-input-inline">
            <input type="text" name="info" lay-verify="required" placeholder="请输入配置名称" autocomplete="off" value="{$info.info}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">字段变量</label>
        <div class="layui-input-inline">
            <input type="text" name="menu_name" lay-verify="required" placeholder="" autocomplete="off" value="{$info.menu_name}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">数据类型</label>
        <div class="layui-input-inline">
            <select name="type" class="layui-select" placeholder="字段类型" lay-verify="required">
                <option {if condition="$info.type eq 'text'"}selected{/if} value="text">文本框</option>
                <option {if condition="$info.type eq 'textarea'"}selected{/if} value="textarea">多行文本框</option>
                <option {if condition="$info.type eq 'radio'"}selected{/if} value="radio">单选</option>
                <option {if condition="$info.type eq 'checkbox'"}selected{/if} value="checkbox">多选</option>
                <option {if condition="$info.type eq 'select'"}selected{/if} value="select">下拉</option>
                <option {if condition="$info.type eq 'image'"}selected{/if} value="image">图片</option>
                <option {if condition="$info.type eq 'date'"}selected{/if} value="date">日期</option>
                <option {if condition="$info.type eq 'area'"}selected{/if} value="area">地域</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-inline">
            <input type="text" value="{$info.desc}" name="desc" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">值</label>
        <div class="layui-input-inline">
            <input type="text" value="{$info.value}" name="value" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="hidden" name="id" value="{$info.id}">
        <input type="hidden" name="config_tab_id" value="{$info.config_tab_id}">
        <input type="button" lay-submit lay-filter="layer-submit" id="layer-submit" value="确认">
    </div>
</div>
</body>
{/block}

{block name="script"}
<script>
    layui.config({
        base: '{__LAYUI_PATH}' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function(){
        var $ = layui.$
            ,form = layui.form;
    })
</script>
{/block}