{extend name="public/container"}

{block name="head"}

{/block}

{block name="content"}
<body class="gray-bg">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">

            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        订单总数
                        <span class="layui-badge layui-bg-blue layuiadmin-badge">共</span>
                    </div>
                    <div class="layui-card-body layuiadmin-card-list">
                        <p class="layuiadmin-big-font">1111</p>
                        <p>
                            拍品订单：1个
                            藏品订单：233个
                        </p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        订单总金额
                        <span class="layui-badge layui-bg-cyan layuiadmin-badge">元</span>
                    </div>
                    <div class="layui-card-body layuiadmin-card-list">
                        <p class="layuiadmin-big-font">250</p>
                        <p>
                            实际支付：111元；保证金抵扣：2元
                        </p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        藏品订单金额
                        <span class="layui-badge layui-bg-green layuiadmin-badge">元</span>
                    </div>
                    <div class="layui-card-body layuiadmin-card-list">

                        <p class="layuiadmin-big-font">23</p>
                        <p>
                            实际支付：2元；保证金抵扣：11元
                        </p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        保证金充值金额
                        <span class="layui-badge layui-bg-orange layuiadmin-badge">元</span>
                    </div>
                    <div class="layui-card-body layuiadmin-card-list">

                        <p class="layuiadmin-big-font">234234</p>
                        <p>
                            订单数
                            <span class="layuiadmin-span-color">324 <i class="layui-inline layui-icon layui-icon-chart"></i></span>
                        </p>
                    </div>
                </div>
            </div>


            <div class="layui-col-sm12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        访问量
                        <div class="layui-btn-group layuiadmin-btn-group">
                            <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs">去年</a>
                            <a href="javascript:;" class="layui-btn layui-btn-primary layui-btn-xs">今年</a>
                        </div>
                    </div>
                    <div class="layui-card-body">
                        <div class="layui-row">
                            <div class="layui-col-sm8">
                                <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-pagetwo">
                                    <div carousel-item id="LAY-index-pagetwo">
                                        <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-sm4">
                                <div class="layuiadmin-card-list">
                                    <p class="layuiadmin-normal-font">月访问数</p>
                                    <span>同上期增长</span>
                                    <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                        <div class="layui-progress-bar" lay-percent="30%"></div>
                                    </div>
                                </div>
                                <div class="layuiadmin-card-list">
                                    <p class="layuiadmin-normal-font">月下载数</p>
                                    <span>同上期增长</span>
                                    <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                        <div class="layui-progress-bar" lay-percent="20%"></div>
                                    </div>
                                </div>
                                <div class="layuiadmin-card-list">
                                    <p class="layuiadmin-normal-font">月收入</p>
                                    <span>同上期增长</span>
                                    <div class="layui-progress layui-progress-big" lay-showPercent="yes">
                                        <div class="layui-progress-bar" lay-percent="25%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm12">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-sm6">
                        <div class="layui-card">
                            <div class="layui-card-header">本周活跃用户列表</div>
                            <div class="layui-card-body">
                                <table class="layui-table layuiadmin-page-table" lay-skin="line">
                                    <thead>
                                    <tr>
                                        <th>用户名</th>
                                        <th>最后登录时间</th>
                                        <th>状态</th>
                                        <th>获得赞</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><span class="first">胡歌</span></td>
                                        <td><i class="layui-icon layui-icon-log"> 11:20</i></td>
                                        <td><span>在线</span></td>
                                        <td>22 <i class="layui-icon layui-icon-praise"></i></td>
                                    </tr>
                                    <tr>
                                        <td><span class="second">彭于晏</span></td>
                                        <td><i class="layui-icon layui-icon-log"> 10:40</i></td>
                                        <td><span>在线</span></td>
                                        <td>21 <i class="layui-icon layui-icon-praise"></i></td>
                                    </tr>
                                    <tr>
                                        <td><span class="third">靳东</span></td>
                                        <td><i class="layui-icon layui-icon-log"> 01:30</i></td>
                                        <td><i>离线</i></td>
                                        <td>66 <i class="layui-icon layui-icon-praise"></i></td>
                                    </tr>
                                    <tr>
                                        <td>吴尊</td>
                                        <td><i class="layui-icon layui-icon-log"> 21:18</i></td>
                                        <td><i>离线</i></td>
                                        <td>45 <i class="layui-icon layui-icon-praise"></i></td>
                                    </tr>
                                    <tr>
                                        <td>许上进</td>
                                        <td><i class="layui-icon layui-icon-log"> 09:30</i></td>
                                        <td><span>在线</span></td>
                                        <td>21 <i class="layui-icon layui-icon-praise"></i></td>
                                    </tr>
                                    <tr>
                                        <td>小蚊子</td>
                                        <td><i class="layui-icon layui-icon-log"> 21:18</i></td>
                                        <td><i>在线</i></td>
                                        <td>45 <i class="layui-icon layui-icon-praise"></i></td>
                                    </tr>
                                    <tr>
                                        <td>贤心</td>
                                        <td><i class="layui-icon layui-icon-log"> 09:30</i></td>
                                        <td><span>在线</span></td>
                                        <td>21 <i class="layui-icon layui-icon-praise"></i></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-sm6">
                        <div class="layui-card">
                            <div class="layui-card-header">项目进展</div>
                            <div class="layui-card-body">
                                <div class="layui-tab-content">
                                    <div class="layui-tab-item layui-show">
                                        <table id="LAY-index-prograss"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</body>
{/block}

{block name="script"}
<script>
    layui.config({
        base: "{__LAYUI_PATH}" //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'sample']);
</script>
{/block}