{extend name="public/container"}

{block name="content"}
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body layui-form">

                    <div class="event-btns" style="margin-bottom: 10px;">
                        <button class="layui-btn layui-btn-xs layui-btn-danger" data-type="update"><i class="fa fa-plus-circle"></i> 新增/扣除 保证金</button>
                    </div>

                    <table class="layui-hide" id="table-toolbar" lay-filter="table-toolbar"></table>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
{/block}

{block name="script"}
<script>
    var userId = "{$Request.param.user_id}" || 0;
    layui.config({
        base: '{__LAYUI_PATH}' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'form'], function(){
        var $ = layui.$
            ,form = layui.form
            ,table = layui.table;

        table.render({
            elem: '#table-toolbar'
            ,url: "{:url('user.User/getDepositData')}"
            ,where: {'user_id': userId}
            ,title: '数据表'
            ,cols: [[
                {field:'id', title:'ID',width:80}
                ,{field:'pm', title:'', width:80, templet:function (d) {
                    return d.pm==0?'<span class="layui-badge">支出</span>':'<span class="layui-badge layui-bg-green">收入</span>';
                }}
                ,{field:'title', title:'类型', width:200}
                ,{field:'number', title:'金额', width: 150}
                ,{field:'mark', title:'备注', minWidth: 300}
                ,{field:'create_time', title:'创建时间', width: 200}
            ]]
            ,page: true
        });

        var active = {
            update: function(){
                layer.open({
                    type: 2
                    ,title: '管理保证金'
                    ,content: "{:url('user.user/depositEdit', [], false)}/user_id/"+userId
                    ,area: ['600px', '400px']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        var iframeWindow = window['layui-layer-iframe'+ index]
                            ,submitID = 'layer-submit'
                            ,submit = layero.find('iframe').contents().find('#'+ submitID);
                        //监听提交
                        iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
                            var field = data.field;
                            console.log(field);
                            $.ajax({
                                url: "{:url('user.user/updateDeposit')}",
                                data:field,
                                method: "POST",
                                dataType: "json",
                                success:function (res) {
                                    layer.msg(res.msg);
                                    table.reload('table-toolbar');
                                }
                            });
                            layer.close(index);
                        });

                        submit.trigger('click');
                    }
                });
            }
        };

        $('.event-btns .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
{/block}