// 此文件为uView的主题变量，这些变量目前只能通过uni.scss引入才有效，另外由于
// uni.scss中引入的样式会同时混入到全局样式文件和单独每一个页面的样式中，造成微信程序包太大，
// 故uni.scss只建议放scss变量名相关样式，其他的样式可以通过main.js或者App.vue引入

$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;
$u-border-color: #e4e7ed;
$u-bg-color: #f3f4f6;

$u-type-primary: #2979ff;
$u-type-primary-light: #ecf5ff;
$u-type-primary-disabled: #a0cfff;
$u-type-primary-dark: #2b85e4;

$u-type-warning: #ff9900;
$u-type-warning-disabled: #fcbd71;
$u-type-warning-dark: #f29100;
$u-type-warning-light: #fdf6ec;

$u-type-success: #19be6b;
$u-type-success-disabled: #71d5a1;
$u-type-success-dark: #18b566;
$u-type-success-light: #dbf1e1;

$u-type-error: #fa3534;
$u-type-error-disabled: #fab6b6;
$u-type-error-dark: #dd6161;
$u-type-error-light: #fef0f0;

$u-type-info: #909399;
$u-type-info-disabled: #c8c9cc;
$u-type-info-dark: #82848a;
$u-type-info-light: #f4f4f5;

$u-form-item-height: 70rpx;
$u-form-item-border-color: #dcdfe6;



// sensen
$ss-bg-color: #f7f7f7;
$ss-blue: #2b6dff;
$ss-blue-light: #95b7ff;
$ss-bg-grey: #efefef;

$ss-font-normal: #444444;
$ss-font-dark: #adadad;
$ss-font-grey: #ccc;
$ss-bg-dark: #ededed;
$ss-bg-blue: #2b6dff;
$ss-bg-red: #e54c4e;

$ss-border-color: #eeeeee;

$ss-base-color: #f45300;

.bg-red{
	background-color: $ss-bg-red;
}
.bg-blue{
	background-color: $ss-bg-blue;
}
.bg-grey{
	background-color: $ss-font-dark;
}
.bg-white{
	background-color: #ffffff;
}

$law-base-color: #e5c468;
.ss-yellow{
	color: $law-base-color;
}
.ss-white{
	color: #ffffff;
}


/* start--演示页面使用的统一样式--start */
.u-demo {
	padding: 30rpx;
}

.u-demo-wrap {
	border-width: 1px;
	border-color: #ddd;
	border-style: dashed;
	background-color: rgb(250, 250, 250);
	padding: 20rpx;
	border-radius: 6px;
}

.u-demo-area {
	text-align: center;
}

.u-no-demo-here {
	color: $u-tips-color;
	font-size: 26rpx;
}

.u-demo-result-line {
	border-width: 1px;
	border-color: #ddd;
	border-style: dashed;
	padding: 10rpx 40rpx;
	margin-top: 30rpx;
	border-radius: 5px;
	background-color: rgb(240, 240, 240);
	color: $u-content-color;
	font-size: 32rpx;
	/* #ifndef APP-NVUE */
	word-break: break-word;
	display: inline-block;
	/* #endif */
	text-align: left;
	
}

.u-demo-title,
.u-config-title {
	text-align: center;
	font-size: 32rpx;
	font-weight: bold;
	margin-bottom: 40rpx;
}

.u-config-item {
	margin-top: 50rpx;
}

.u-config-title {
	margin-top: 40rpx;
	padding-bottom: 10rpx;
}

.u-item-title {
	position: relative;
	font-size: 28rpx;
	padding-left: 8px;
	line-height: 1;
	margin-bottom: 22rpx;
}

.u-item-title:after {
	position: absolute;
	width: 4px;
	top: -1px;
	height: 16px;
	/* #ifndef APP-NVUE */
	content: '';
	/* #endif */
	left: 0;
	border-radius: 10px;
	background-color: $u-content-color;
}
/* end--演示页面使用的统一样式--end */