{extend name="public/container"}

{block name="content"}
<body>
<form class="layui-form" style="padding: 15px;" id="app" v-cloak="">
    <div class="layui-form-item">
        <label class="layui-form-label">登录帐号</label>
        <div class="layui-input-block">
            <input type="text" name="account" lay-verify="required" placeholder="请填写手机号" autocomplete="off" class="layui-input" v-model="formData.account" maxlength="11">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">登录密码</label>
        <div class="layui-input-block">
            <input type="text" name="password" placeholder="6-20位字符" autocomplete="off" class="layui-input" v-model="formData.password" minlength="6" maxlength="20">
            {if condition="$Request.param.id gt 0"}<small class="ss-red">如不修改请留空</small>{/if}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" placeholder="输入您的姓名" autocomplete="off" class="layui-input" v-model="formData.name" maxlength="45">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-inline">
            {foreach $groups as $item}
            <input type="radio" name="role_ids" v-model="formData.role_ids" lay-filter="role_ids" value="{$item.id}" title="{$item.title}"><div class="layui-unselect layui-form-radio"><div>{$item.title}</div></div>
            {/foreach}
        </div>
    </div>
    <div class="layui-form-item" style="float: right;margin-right: 10px;">
        <input type="button" lay-submit lay-filter="layer-submit" id="layer-submit" class="layui-btn layui-btn-info" value="确定保存">
    </div>
    <div class="h20"></div>
</form>
</body>
{/block}

{block name="script"}
<script>
    var id = "{$Request.param.id}" || 0;
    var app = new Vue({
        el: '#app',
        data: {
            formData:{
                id: id,
                account: '',
                password: '',
                name: '',
                role_ids: '',
            },
            rule: {
            }
        },
        watch:{

        },
        methods: {
            
        },
        mounted: function () {
            var that = this;
            window.$vm = that;
            //如果id>0则获取数据
            if(id>0){
                axios.post("{:url('system.admin/info')}", {id:id}).then(function (res) {
                    app.formData = res.data.data;
                }).catch(function (err) {
                    alert(err)
                });
            }
            layui.use(['form'], function () {
                var form = layui.form;
                setTimeout(function () {
                    form.render();
                }, 500);
            });
        }
    });

    layui.config({
        base: '{__LAYUI_PATH}' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laydate'], function(){
        var $ = layui.$
            ,form = layui.form
            ,laydate = layui.laydate;

        laydate.render({
            elem: '#create_time'
            ,type: 'datetime'
            // ,min: 0
            ,done:function(val){
                app.formData.create_time = val;
            }
        });

        //角色
        form.on('radio(role_ids)', function(data){
            var val = data.value;
            console.log(val)
            app.formData.role_ids = val;
        });

        //数据提交
        form.on('submit(layer-submit)', function(){
            //检测数据是否完整
            if(!app.formData.role_ids){
                return layer.msg('请选择角色');
            }

            $.ajax({
                url: "{:url('system.admin/save')}",
                data: app.formData,
                method: "POST",
                dataType: 'json',
                success:function (res) {
                    if(res.code==200){
                        layer.msg(res.msg, {time: 2000}, function () {
                            parent.layer.closeAll();
                            parent.location.reload();
                        });
                    }else{
                        layer.msg(res.msg);
                    }
                }
            });
            return false;
        });

    });

</script>
{/block}