<meta charset="utf-8">
<title>北京盛世国际拍卖 v1.0</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="{__LAYUI_PATH}layui/css/layui.css" media="all">
<link rel="stylesheet" href="{__LAYUI_PATH}style/admin.css" media="all">
<link rel="stylesheet" href="{__PLUG_PATH}font-awesome-4.7.0/css/font-awesome.min.css" media="all">
<link rel="stylesheet" href="{__STATIC_PATH}common/css/sensen.css" media="all">