{extend name="public/container"}

<!--todo 使用form-create-->
{block name="content"}
<body>
<div class="layui-fluid" id="LAY-app-message">
    <div class="layui-card">
        <form class="layui-form layui-tab layui-tab-brief">

            <ul class="layui-tab-title">
                {foreach $tabs as $key=>$item}
                <li {if condition="$key eq 0"}class="layui-this"{/if}>{$item.title}</li>
                {/foreach}
            </ul>
            <div class="layui-tab-content layui-card">
                {foreach $tabs as $key=>$item}
                <div class="layui-tab-item {if condition='$key eq 0'}layui-show{/if}">
                    <div class="layui-card-body">
                        {foreach $item.configs as $config}
                        <div class="layui-form-item">
                            <label class="layui-form-label">{$config.info}</label>
                            <div class="layui-input-block">
                                {if condition="$config.type eq 'text'"}
                                <input type="text" name="{$config.menu_name}" value="{$config.value}" placeholder="{$config.desc}" class="layui-input">
                                {elseif condition="$config.type eq 'textarea'"/}
                                <textarea name="{$config.menu_name}" class="layui-textarea">{$config.value}</textarea>
                                {elseif condition="$config.type eq 'radio'"/}
                                {foreach $config.items as $item}
                                <input type="radio" name="{$config.menu_name}" value="{$item.value}" class="layui-input" title="{$item.name}" {if condition="$item.value eq $config.value"}checked{/if}>
                                {/foreach}
                                {elseif condition="$config.type eq 'date'"/}
                                <input type="text" name="{$config.menu_name}" value="{$config.value}" readonly id="date-{$config.id}" class="layui-input ss-date" placeholder="{$config.desc}">
                                {elseif condition="$config.type eq 'area'"/}
                                <select name="province" name="province" class="layui-select" style="width: 30%;">
                                    <option value="">省份</option>
                                </select>
                                {elseif condition="$config.type eq 'editor'"/}
                                <textarea name="{$config.menu_name}" rows="10" class="layui-textarea" placeholder="{$config.desc}">{$config.value|json_decode}</textarea>
                                {/if}
                            </div>
                        </div>
                        {/foreach}
                    </div>
                </div>
                {/foreach}

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="save">确认保存</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
{/block}

{block name="script"}
<script>
    layui.config({
        base: '{__LAYUI_PATH}' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laydate'], function(){
        var $ = layui.$
            ,laydate = layui.laydate
            ,form = layui.form;

        lay('.ss-date').each(function(){
            laydate.render({
                elem: this
                ,type: 'datetime'
                ,trigger: 'click'
            });
        });

        form.on('submit(save)', function(data){
            var data = data.field;
            //layer.msg(JSON.stringify(data.field));
            $.ajax({
                url: "{:url('system.config/save')}",
                data: data,
                method: "POST",
                dataType: 'json',
                success:function (res) {
                    layer.msg(res.msg, {time: 2000}, function () {
                        location.reload();
                    });
                }
            });
            return false;
        });
    });
</script>
{/block}