
.line1{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.line2{word-break:break-all;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
.line3{word-break:break-all;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;}

.pull-right{
	float: right;
}
.pull-left{
	float: left;
}
.ss-block{
	display: block;
}
.nav-h{
	height: 150rpx;
}
.text-center{
	text-align: center;
	padding: 10rpx 0;
}


.ss-title{
	width: 100%;
	height: 80rpx;
	line-height: 80rpx;
	font-size: 30rpx;
	display: flex;
	justify-content: space-between;
	color: #333;
	font-weight: 700;
}
.ss-title .more{
	font-size: 28rpx;
	color: #999;
	font-weight: normal;
}

.pad-30{
	padding: 30rpx;
}
.pad-w30{
	padding: 0 30rpx;
}
.pad-h30{
	padding: 30rpx 0;
}

.copyright{
	width: 100%;
	text-align: center;
	padding: 50rpx 0;
}
.copyright image{
	width: 220rpx;
}

.pop-content{
  padding: 30rpx;
  max-height: 80vh;
  overflow-y: auto;
}





/* 登录注册 */
.ss-login{
  min-height: 100vh;
  background: #fff;
}
.ss-login .content {
	display: flex;
	flex-direction: column;
	justify-content:center;
	/* margin-top: 128rpx; */
}

/* 头部 logo */
.ss-login .header {
	width:161rpx;
	height:161rpx;
	box-shadow:0rpx 0rpx 60rpx 0rpx rgba(0,0,0,0.1);
	border-radius:20rpx;
	background-color: #000000; 
	margin-top: 100rpx;
	margin-bottom: 60rpx;
	margin-left: auto;
	margin-right: auto;
}
.ss-login .header image{
	width:161rpx;
	height:161rpx;
	border-radius:20rpx;
}

/* 主体 */
.ss-login .main {
	display: flex;
	flex-direction: column;
	padding-left: 70rpx;
	padding-right: 70rpx;
}
.ss-login .tips {
	color: #999999;
	font-size: 28rpx;
	margin-top: 64rpx;
	margin-left: 48rpx;
}

/* 登录按钮 */
.ss-login .wbutton{
	margin-top: 40rpx;
}

/* 其他登录方式 */
.ss-login .other_login{
  margin-top: 60rpx;
}
.ss-login .other_login .login_icon{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.ss-login .login_icon{
	border: none;
	font-size: 64rpx;
	margin: 0 64rpx 0 64rpx;
	color: rgba(0,0,0,0.7)
}
.ss-login .wechat_color{
	color: #83DC42;
}
.ss-login .weibo_color{
	color: #F9221D;
}
.ss-login .github_color{
	color: #24292E;
}

/* 底部 */
.ss-login .footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 28rpx;
	margin-top: 50rpx;
	color: rgba(0,0,0,0.7);
	text-align: center;
	height: 60rpx;
	line-height: 60rpx;
}
.ss-login .footer text{
	font-size: 24rpx;
	margin-left: 15rpx;
	margin-right: 15rpx;
}

.ss-login .divider{
  width: 100%;
}
/* 登录注册 */





/* 自定义图标 */
@font-face {
	font-family: 'iconfont';  /* project id 1237225 */
  src: url('https://at.alicdn.com/t/font_1237225_y90nldmnpij.eot');
  src: url('https://at.alicdn.com/t/font_1237225_y90nldmnpij.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1237225_y90nldmnpij.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1237225_y90nldmnpij.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1237225_y90nldmnpij.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1237225_y90nldmnpij.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pingjia-copy:before {
  content: "\e640";
}

.icon-xingxing:before {
  content: "\e870";
}


.u-load-more-wrap{
  margin: 20rpx 0 !important;
}

.live-img{
  width: 40rpx;
}