{extend name="public/container"}

{block name="content"}
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">文章管理</div>
                <div class="layui-card-body layui-form">
                    <div class="event-btns" style="margin-bottom: 10px;">
                        <button class="layui-btn layui-btn-danger" data-type="add"><i class="fa fa-plus-circle"></i> 添加文章</button>
                        <div class="layui-inline">
                            <select name="cate_id" id="cate_id" lay-search>
                                <option value="">请选择分类</option>
                                {foreach $cates as $item}
                                <option value="{$item.id}">{$item.name}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="layui-inline">
                            <input class="layui-input" name="keyword" id="keyword" autocomplete="off" v-model="where.keyword" placeholder="按关键词搜索">
                        </div>
                        <button class="layui-btn" data-type="search">搜索</button>
                        <a class="layui-btn layui-btn-primary" href="{:url('article.article/index')}">重置</a>
                    </div>

                    <table class="layui-hide" id="table-toolbar" lay-filter="table-toolbar"></table>

                    <script type="text/html" id="table-toolbar-barDemo">
                        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="view">查看详情</a>
                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>

                    <script type="text/html" id="thumb">
                        <img style="cursor: pointer" lay-event="open_image" src="{{d.thumb}}">
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{/block}

{block name="script"}
<script>
    layui.config({
        base: '{__LAYUI_PATH}' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'form'], function(){
        var $ = layui.$
            ,table = layui.table
            ,form = layui.form;

        table.render({
            elem: '#table-toolbar'
            ,url: "{:url('article.article/getData')}"
            ,toolbar: '#table-toolbar-toolbarDemo'
            ,title: '数据表'
            ,cols: [[
                {field:'id', title:'ID', width:80}
                ,{field:'thumb', title:'缩略图',width:100, templet:function (d) {
                    return d.thumb?"<img src='"+d.thumb+"'>":"";
                }}
                ,{field:'type_str', title:'类型', width:150}
                ,{field:'title', title:'标题'}
                ,{field:'click', title:'查看次数', width:100, edit: 'click'}
                ,{field:'create_time', title:'创建时间', width:170}
                ,{field:'user_name', title:'录入人', width:100}
                ,{field:'sort_num', title:'排序值', edit: "sort_num", width: 80}
                ,{field:'status', title:'状态', width:100, templet:function (d) {
                    if(d.status==1){
                        return '<input type="checkbox" name="status" data-id="'+d.id+'" value="1" lay-filter="isCheck" lay-skin="switch" lay-text="ON|OFF" checked>';
                    }else{
                        return '<input type="checkbox" name="status" data-id="'+d.id+'" value="0" lay-filter="isCheck" lay-skin="switch" lay-text="ON|OFF">';
                    }
                }}
                ,{title:'操作', toolbar: '#table-toolbar-barDemo', width:200}
            ]]
            ,page: true
            ,limit: 20
        });

        var active = {
            add: function(){
                layer.open({
                    type: 2
                    ,title: '新增文章'
                    ,content: "{:url('article.article/create')}"
                    ,area: ['1200px', '90%']
                });
            },
            search: function(){
                var cate_id = $('select[name=cate_id]').val();
                var keyword = $('input[name=keyword]').val();
                table.reload('table-toolbar', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        keyword: keyword,
                        cate_id: cate_id
                    }
                });
            }
        };

        $('.event-btns .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //快速编辑
        table.on('edit(table-toolbar)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            $.ajax({
                url: "{:url('base/updateStatus')}",
                data:{'table':'article','status':value, 'id':data.id, 'field':field},
                method: "POST",
                dataType: 'json',
                success:function (res) {
                    layer.msg(res.msg);
                    table.reload('table-toolbar');
                }
            });
        });

        //监听行工具事件
        table.on('tool(table-toolbar)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('确定要删除吗？', function(index){
                    //obj.del();
                    $.ajax({
                        url: "{:url('article.article/delete')}",
                        data:{"id": data.id},
                        method: "POST",
                        dataType: 'json',
                        success:function (res) {
                            layer.msg(res.msg);
                            table.reload('table-toolbar');
                        }
                    });
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.open({
                    type: 2
                    ,title: '修改文章'
                    ,content: "{:url('article.article/create',[], false)}/id/"+data.id
                    ,area: ['1200px', '90%']
                });
            }else if(obj.event === 'view'){
                layer.open({
                    type: 2
                    ,title: data.title
                    ,content: "{:url('article.article/detail',[], false)}/id/"+data.id
                    ,area: ['1200px', '90%']
                });
            }
        });


        //更改是否验证
        form.on('switch(isCheck)', function(data){
            var is_check = data.elem.checked;
            is_check = is_check?1:0;
            var id = data.elem.attributes['data-id'].nodeValue;
            $.ajax({
                url: "{:url('base/updateStatus')}",
                data:{'table':'article','status':is_check, 'id':id},
                method: "POST",
                dataType: 'json',
                success:function (res) {
                    layer.msg(res.msg);
                    table.reload('table-toolbar');
                }
            });
        });

    });
</script>
{/block}